<h2>User info</h2>
        <table class="table">
          <tbdy>

            <tr>
            <%= image_tag book.user.get_profile_image(100,100) %>
            <th>name</th>
            <th><%= book.user.name %></th>
            </tr>
            <tr>
            <th>introduction</th>
            <th><%= book.user.introduction %></th>
            </tr>
          </tbdy>

         </table>